body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a, a:hover{
	color: white !important;
	text-decoration: none;
}
.red {
	background-color:rgba(186, 12, 47, 0.7);
}
.white {
	background-color:rgba(240, 240, 240, 0.7);
}
.green {
	background-color:rgba(0, 177, 64, 0.7);
}
.yellow {
	background-color:rgba(242, 169, 0, 0.7);
}
.blue {
	background-color:rgba(0, 119, 200, 0.7);
}
.showbutton {
	display:block;
	border-radius: 25px;
	margin: auto;
	color: white;
	font-family: Lato;
	font-size: 25px;
	background-color:transparent;
	border-style: none;
	cursor: pointer;
}
.showbutton:hover {
	color: rgb(0, 177, 64) !important;
}
.nascondi {
	overflow:hidden;
	background: #fcfcfc;
	margin: auto;
}
.nascondi > div {
	-webkit-transition: all 0.4s ease;
	-moz-transition: margin 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: margin 0.4s ease;
}
.showbutton[value="Accadde Oggi +"] + .nascondi > div {
	margin-top:-125%;
}
.showbutton[value="Accadde Oggi -"] + .nascondi {
	padding:4px;
}	
#lds__saints {
	pointer-events: none;
}
.weatherwidget-io {
	pointer-events: none;
}
.contenitore {
	max-width: 90%;
	margin: auto;
}
.zoomin img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.zoomin:hover img {
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}
.apps {
	/* Geometry */
	width: 277px;
	height: 240px;
	/* border-radius: 200px; /*
	/* ZoomIn */
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	/* Fading Background
	background-color: rgba(186, 12, 47, 0); */
}
.apps:hover {
	/* ZoomIn */
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
	/* Fading Background
	background-color: rgba(186, 12, 47, 0.1);
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out; */
}